body {
    margin: 0;
    background-color: #262626;
    color: #fff;
    font-family: arial;
}

.viewfinder {
    padding: 0.75rem 0.75rem 0rem 0.75rem;
}

.viewfinder img {
    width: 100%;
    max-width: 20rem;
    border-radius: 0.75rem;
    display: block;
    margin: auto;
    animation: open_viewfinder 0.3s ease 0s 1 normal forwards;
}

.pill {
    border-radius: 0 0 0.75rem 0.75rem;
    background-color: #313131;
    padding: 0.5rem 0rem;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    z-index: 11;
    /* justify-content: space-evenly; */
}

.button {
    width: 100%;
    border-radius: 0.75rem;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border: none;
    margin: 0px 0.25rem;
}

.sm-button {
    margin-top: 0.5rem;
    width: 50%;
    padding: 0.25rem 1.5rem;
}

.button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}

.slider-box {
    width: 100%;
    /*width: 8.75rem;*/
    border: gray;
    border-radius: 0.76rem;
    border-style: dashed;
    border-width: 0.01rem;
    display: flex;
    margin-left: 0.25rem;
    position: relative;
}

.slider-box input {
    appearance: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    width: 99.2%;
    margin-top: 0.74rem;
    z-index: 1;
}

.slider-box input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2.2rem;
    width: 2.2rem;
    background-color: transparent;
    border: none;
}

.slider-box input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 2.2rem;
    width: 2.2rem;
    background-color: transparent;
    border: none;
}

.slider-box input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 2.2rem;
    width: 2.2rem;
    background-color: transparent;
    border: none;
}

.slider-icon {
    position: absolute;
    background-color: #ca4754;
    padding: 0.5rem;
    border-radius: 0.75rem;
    text-align: center;
    margin-top: 0.2rem;

}

.slider-box-text {
    text-align: right;
    margin: auto;
}

.slider-box button {
    margin: 0;
    position: relative;
    width: 2.5rem;
    padding: 0.75rem 0px;
}

.pill-item {
    text-align: center;
    width: 100%;
}

.header {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.bitrate-container {
    margin: 0.75rem;
    border: gray;
    border-style: dotted none;
    border-width: 0.01rem;
    padding: 0.5rem 0px;
}

.container {
    margin-top: 3rem;
    /* display: flex; */
    /* justify-content: space-evenly; */
}

.card {
    margin: 0.75rem;
    border-radius: 0.75rem;
    background-color: #404040;
    /* width: 100%; */
    padding: 0.5rem;
}

.alert-box {
    z-index: 10;
    left: 0;
    right: 0;
    position: absolute;
    padding: 0px 0.5rem;
    margin-top: 3rem;
}

.alert {
    padding: 0.5rem;
    border-radius: 0.75rem;
    margin: auto;
    max-width: 25rem;
    /*width: 100%;*/
}

.slider-container {
    position: relative;
    width: 100%;
}

.slider-container input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track {
    background-color: #fff;
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

.slider-container input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

.slider-container input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

.slider-container input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #3264fe;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}

.slider-container input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}

.slider-container input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}

.slider-container input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid #3264fe;
}

.blur:not(:focus) {
     color: transparent;
     text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.title {
    text-align: center;
}

.success {
    color: #3aff02;
}

.error {
    color: #ec4254;
}

.warning {
    color: #fff00b;
}

.bg-error {
    background-color: #ca4754;
}

.bg-success {
    background-color: #219501;
}

.bg-info {
    background-color: #3737f2;
}

.bg-warning {
    background-color: #fff00b;
}

.flex {
    display: flex;
}

.w-full {
    width: 100%;
}

.center {
    text-align: center;
}

.text-input {
    width: 100%;
    outline: none;
    background-color: #262626;
    color: #fff;
    border-style: none none double none;
    border-width: 0.02rem;
    border-radius: 0.15rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes open_viewfinder {
    0% {
        transform: scale(0);
        transform-origin: 50% 0%;
    }

    100% {
        transform: scale(1);
        transform-origin: 50% 0%;
    }
}

.bar {
    transition: width 0.1s;
    height: 1.2rem; 
    border-radius: 1.75rem;
}

.fade-out {
	-webkit-animation: fade-out 2s ease-out both;
	        animation: fade-out 2s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
